[user]
        name = berton7
        email = francy.berton99@gmail.com
[init]
        defaultBranch = main
[filter "lfs"]
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
        clean = git-lfs clean -- %f
[pull]
        rebase = true
[alias]
	undo = reset --soft HEAD~1
